doctype html
html
   head
      title EmpList
   body
      p <h1> Employee List </h1>
      table(border="2" cellpadding="10" bgcolor="lemonchiffon")
         thead(bgcolor="goldenrod")
            th Fullname 
            th Email 
            th mobile 
            th city 
            th Technology 
            th Industry  
         each val in details
            tr 
               td #{val.fullname}
               td #{val.email}
               td #{val.mobile}
               td #{val.city}
               td #{val.technology}
               td #{val.industry}
