html    
    body
        img(src=`/${contact.profilepic}` width="150px") 
        form(action="/editcontact" method="POST" enctype="multipart/form-data")
            
            label id 
            input(type="text" value=`${contact._id}` name="id")
            br 
            br
            label Name
            input(type="text" value=`${contact.name}` name="name")
            br
            br
            label mobile no.
            input(type="number" value=`${contact.mobile}` name="mobile")
            br
            br
            label Group
            //- select#propertyType.select.form-control.input-lg(form='types', name='group')
            //-     option(value='6') Friends
            //-     option(value='7') Family
            //-     option(value='10') Work
            //-     option(value='11') Relatives
            select(name='group' )
                each val in ['friend' , 'family' , 'work','relative']
                    option(value= val, selected= val ===`${contact.group}`)= val
            br
            br
            label update profile 
            input(type="file" value=`${contact.profilepic}`  name="profilepic")
            br
            br
            button Update Contact